pre {
	counter-reset: line_num;
}
pre span.java_line {
	counter-increment: line_num;
}
pre span.java_line:before {
	content: counter(line_num);
	width: calc(${NUM_DIGITS} * 0.5em);
	padding: 0 .5em;
 	margin-right: .5em;
	display: inline-block;
	border-right: 1px solid black;
	text-align: right;
	-webkit-user-select: none;
}